body {
}
.content {
	float: left;
	width: 798px;
	padding: 0px 0px 0px 0px;
    height: 14px;
}

/* Page 

#page {
	background: url(img05.gif) repeat-y center top;
}

#page-bgtop {
	background: url(img04.gif) no-repeat center top;
}
*/
#page-bgbtm {
	overflow: hidden;
	padding: 40px 30px 0px 30px;
	background: url(img06.gif) no-repeat center bottom;
}

#page-content {
	width: 85%;
	margin: 0px auto;
}

/* Content */

#content {
	float: left;
	width: 70%;
	padding: 0px 0px 0px 0px;
    height: 16px;
}

.post {
	clear: both;
	padding-bottom: 10px;
}

.post .title {
	padding-top: 10px;
	letter-spacing: -2px;
}

.post .title a {
	color: #2483A6;
	border: none;
}

.post .meta {
	padding-bottom: 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width:30%;
	padding: 0px 0px 0px 0px;
    margin-left: 0%;
    height: 466px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	padding-bottom: 30px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#sidebar li li {
	line-height: 35px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	color: #181B20;
}

#sidebar h2 {
    height: 38px;
    margin-bottom: 20px;
    padding: 12px 0 0 15px;
    border-bottom: 1px dashed #B3B0B0;
    letter-spacing: -1px;
    font-size: 24px;
    color: #FFFFFF;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 20px 20px 20px;
    text-align: justify;
    color: #FFFFFF;
    font-size: 18px;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}