<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="feedback2ConnectionString" connectionString="Data Source=mssql3.gear.host;Initial Catalog=feedback2;Persist Security Info=True;User ID=feedback2;Password=r@j12345"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="~/home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
